/*-------------
 Written by Thayanan Tharmapalan
Main styling for the Unauthorized page
-------------*/

/*-------------
 	Imports the fonts
-------------*/

@font-face {
     font-family: "Webly Sleek";
      src: url(../fonts/weblysleekuil.ttf) format("truetype");
}

@font-face {
     font-family: "Noteworthy";
     src: url(../fonts/Noteworthy-Light.ttf) format("truetype");
 }


 /*-------------
Weebo Logo
 -------------*/

.W_Logo {
      font-family: "Noteworthy";
      font-size: 100px;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      margin: auto;
             color: white;
      text-align: center;
      background-color: #3cb979;
      background-image: -webkit-linear-gradient(to bottom, #3cb979, #3cb979);
      background-image: linear-gradient(to bottom, #3cb979, #3cb979);
      box-shadow: 0px 8px 10px 0px grey, inset 0px 4px 1px 1px #3cb979, inset 0px -3px 1px 1px #3cb979;
      -webkit-transition: all .1s linear;
      transition: all .1s linear;
  }

  .LogoWrap {
      padding: 20px;
    }

  /*-------------
Error text
-------------*/

.PageNotFoundTitle {
  font-size: 45px;
  font-family: "Webly Sleek";
  padding: 30px;
  padding-top: 100px;
}

.ReturnHome {
        font-family: "Webly Sleek";
        font-size: 15px;
}
