@font-face {
     font-family: "Webly Sleek";
      src: url(../../fonts/weblysleekuil.ttf) format("truetype");
}

.ChapterTitle {
  color: #329a64;
   font-family: "Webly Sleek";
   font-size: 25px;
   padding-bottom: 20px;
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
