/*-------------
 Written by Thayanan Tharmapalan
Main styling for the Chapter panel
-------------*/

/*-------------
 	Imports the fonts
-------------*/

@font-face {
     font-family: "Webly Sleek";
      src: url(../../fonts/weblysleekuil.ttf) format("truetype");
}

/*-------------
General
-------------*/

.ChapterTitle {
  color: #329a64;
   font-family: "Webly Sleek";
   font-size: 25px;
   padding-bottom: 20px;
   -webkit-animation-name: fadeIn;
   animation-name: fadeIn;
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.chapterStack {
    -webkit-animation-name: pulse;
    animation-name: pulse;
}

.ChapterHeading{
  color: #329a64;
  font-family: "Webly Sleek";
  font-size: 22px;
  padding-bottom: 10px;
  border: 1px solid #f2f2f2;
  border-bottom-color: #d2dfdf;
}

.editChaptersButtonSep{
  padding: 5px;
}
