@font-face {
     font-family: "Webly Sleek";
      src: url(../../fonts/weblysleekuil.ttf) format("truetype");
}

.ChapterTitle {
  color: #329a64;
   font-family: "Webly Sleek";
   font-size: 25px;
   padding-bottom: 20px;
}

hr {
  height: 30px;
  border-style: solid;
  border-color: grey;
  border-width: 1px 0 0 0;
  border-radius: 20px;
  width: 350px;
}
hr {
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: grey;
  border-width: 0 0 1px 0;
  border-radius: 20px;
    width: 300px;
}
