/*-------------
 Written by Thayanan Tharmapalan
Main styling for the Edit Chapter % Subchapter widget
-------------*/

/*-------------
 	Imports the fonts
-------------*/

@font-face {
     font-family: "Webly Sleek";
      src: url(../../fonts/weblysleekuil.ttf) format("truetype");
}


/*-------------
General
-------------*/

.submitDiv {

}
.submitChapter {
	display: initial;
	float:left;
}

.submitChapterGlyph{
	color: green;
}
.chapterNameForm {
	float:left;
	display: initial;
}
.modalbody {
	overflow: hidden;
}

.addChapterControllLabel{
	font-family: "Webly Sleek";
	text-align: center !important;
}

.addSubChapterControllLabel{
	font-family: "Webly Sleek";
	text-align: center !important;
}
