@font-face {
     font-family: "Webly Sleek";
     src: url(fonts/weblysleekuil.ttf) format("truetype");
 }

.App {
  text-align: center;
  max-width: 100%;
  margin-top: 10px;
}

body {
  background-color: #f2f2f2;
  font-family: "Webly Sleek"
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.s-alert-success{
  background-color: #21a497!important;
  color: white  !important;
}

.s-alert-box {
  font-family: "Webly Sleek" !important;
}

.s-alert-close{
  color: #21a497 !important;
}
