@font-face {
     font-family: "Noteworthy";
     src: url(../fonts/Noteworthy-Light.ttf) format("truetype");
 }

 @font-face {
     font-family: "Webly Sleek";
     src: url(../fonts/weblysleekuil.ttf) format("truetype");
 }

.background-image {background-image: url("../img/background.jpg");
  position: fixed !important;
}

.background-image{
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

.animatedBackground {
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animatedBackground.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/*-------------
 	General
-------------*/

ul, nav{
	list-style: none;
}

.LogIn{
	color: #fff;
	border-radius: 4px;
	font-weight: 800;
	text-align: center;
  padding: 50px;
}

.WLogo {
  font-family: "Noteworthy" !important;
  font-size: 150px !important;
  color: white;
  text-align: center;}

  .ScrollButton {
  float: right;
  border-radius: 50% !important;
  height: 40px;
  width: 40px;
  opacity: 0.7;
  background-color: #f6f6f6;
  border: #f6f6f6;
  margin-right: 25px;
}


.LogInButton {
  background-color: white;
  border-color: white;
  height: 50px;
  width: 150px;
  border-radius: 30px;
  font-family: "Webly Sleek";
  font-size: 20px;
  color: #3a865f;
}

.LogInButton:hover {
  background-color: #f6f6f6;
  border: #f6f6f6;
color: #3cb979;
}

button:focus {outline:0 !important;
}


.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
  background-color: #f6f6f6;
  border: #f6f6f6;
color: green;
}

.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary{
  background-color: #f6f6f6;
  border: #f6f6f6;
color: green;
}

.fa-sign-in{
  font-size: 20px;
}

.LogInButton {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.Glyphicon-arrow {
  color: green;
    font-size: 16px;
    padding-right: -2.5px;
}

.Appimage img {
  height: auto;
width: auto;
max-width: 350px;
max-height: 350px;
display: block;
margin-left: auto;
margin-right: auto;

}

.Pekka {
  height: auto;
width: auto;
margin-bottom: 10px;
max-width: 160px;
max-height: 160px;
border-radius: 50%;
display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 8px 10px 0px grey, inset 0px 4px 1px 1px #3cb979, inset 0px -3px 1px 1px #3cb979;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}

.ComingSoon{
  height: auto;
width: auto;
max-width: 100px !important;
max-height: 100px;
padding-bottom: 10px;
}

.LogoWrapper {
  width: 250px;
  height: 235px;
  border-radius: 50%;
  background-color: none;
  background-image: -webkit-linear-gradient(top, #3cb979, #3cb979);
  background-image: linear-gradient(top, #3cb979, #3cb979);
  box-shadow: 0px 8px 10px 0px grey, inset 0px 4px 1px 1px #3cb979, inset 0px -3px 1px 1px #3cb979;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
  margin-top: 180px !important;
  margin: auto;
  opacity: 0.95;
}

.WeeboLogin{
  font-family: "Noteworthy" !important;
  font-size: 40px !important;
}

.LoginHR{
	width: 450px;
	height: 2px;
	background-color: #32beb4;
	border: 0;
	margin-bottom: 80px;
  float: left;
}
.LoginHR {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

.LoginHR2{
	width: 450px;
	height: 2px;
	background-color: #32beb4;
	border: 0;
	margin-bottom: 80px;
  float: right;
}

.LoginHR2{
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

.section{
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 125px 100px;
}

@media (max-width: 1000px){

	.section{
		padding: 100px 50px;
	}

}

@media (max-width: 600px){

.section{
		padding: 80px 30px;
	}

}

.FeaturesTitle{
	color: #414a4f;
	text-transform: capitalize;
	font-family: "Webly Sleek";
  font-size: 35px;
  padding: 15px;
	text-align: center;
}

.FeaturesDescription{
	max-width: 800px;
	text-align: center;
	margin-bottom: 35px;
	padding: 0 20px;
	line-height: 2;
  margin: auto;
  padding-top: 45px;
}

.grid{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
  padding: 50px;
}

/*----------------
 	Hero Section
----------------*/

.hero{
	position: relative;
	justify-content: center;
	min-height: 100vh;
	color: #fff;
	text-align: center;
  }

.hero .background-image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: cover;
	z-index: -1;
}

.hero .background-image:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #414a4f;
	opacity: 0.70;
}

.hero h1{
	font: bold 60px 'Open Sans', sans-serif;
	margin-bottom: 15px;
}

.hero h3{
	font: normal 28px 'Open Sans', sans-serif;
	margin-bottom: 40px;
}

.hero a.btn{
	padding: 20px 46px;
}

@media (max-width: 800px){

	.hero{
		min-height: 600px;
	}

	.hero h1{
		font-size: 48px;
	}

	.hero h3{
		font-size: 24px;
	}

	.hero a.btn{
		padding: 15px 40px;
	}

}

/*----------------------
 	Features Section
----------------------*/

.MainFeatures {
  font-size: 28px !important;
  font-family: "Webly Sleek" !important;

}

.featuresSection{
	background-color: #e6e6e6;
}

.featuresSection .grid li{
	padding: 0 30px;
	flex-basis: 33%;
	text-align: center;
}

.featuresSection .grid li i{
    font-size: 50px;
    color: #2196F3;
    margin-bottom: 25px;
}

.featuresSection .grid li h4{
	color: #555;
    font-size: 20px;
    margin-bottom: 25px;
}

.featuresSection .grid li p{
    margin: 0;
}

@media (max-width: 1000px){

	.featuresSection .grid li{
		flex-basis: 70%;
		margin-bottom: 65px;
	}

	.featuresSection .grid li:last-child{
		margin-bottom: 0;
	}

}


@media (max-width: 600px){

	.featuresSection .grid li{
		flex-basis: 100%;
	}

}

.featuresSection {
  transform-style: preserve-3d;
 box-sizing: border-box;
 box-shadow: 0 -1px 15px rgba(0, 0, 0, .7);
 transform-style: inherit;
 perspective: 1px;
 opacity: 0.98;
}

.features{
	background-color: #e6e6e6;


}

.features .grid li{
	padding: 0 30px;
	flex-basis: 33%;
	text-align: center;
}

.features .grid li i{
    font-size: 50px;
    color: #2196F3;
    margin-bottom: 25px;
}

.features .grid li h4{
	color: #555;
    font-size: 20px;
    margin-bottom: 25px;
}

.features .grid li p{
    margin: 0;
}

@media (max-width: 1000px){

	.features .grid li{
		flex-basis: 70%;
		margin-bottom: 65px;
	}

	.features .grid li:last-child{
		margin-bottom: 0;
	}

}


@media (max-width: 600px){

	.features .grid li{
		flex-basis: 100%;
	}

}

.features2{
	background-color:  #ffffff;


}

.features2 .grid li{
	padding: 0 30px;
	flex-basis: 33%;
	text-align: center;
}

.features2 .grid li i{
    font-size: 50px;
    color: #2196F3;
    margin-bottom: 25px;
}

.features2 .grid li h4{
	color: #555;
    font-size: 20px;
    margin-bottom: 25px;
}

.features2 .grid li p{
    margin: 0;
}

@media (max-width: 1000px){

	.features2 .grid li{
		flex-basis: 70%;
		margin-bottom: 65px;
	}

	.features2 .grid li:last-child{
		margin-bottom: 0;
	}

}


@media (max-width: 600px){

	.features2 .grid li{
		flex-basis: 100%;
	}

}



/*--------------------
 	Reviews Section
--------------------*/
.OthersSay {
  margin: auto;
  text-align: center;
  color: #414a4f;
	font-family: "Webly Sleek";
  font-size: 35px;
  padding: 40px;
	text-align: center;
  width: 100%;
}

.author {
  margin: auto;
  padding: 20px;
  text-align: center;
}

.reviews{
	background-color: #fff;
  padding: 30px !important;
  margin: auto;

}

.quote{
	text-align: center;
	width: 80%;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 20px;
    padding: 0;
      margin: auto;
}

.author{
    font-size: 18px;
    margin-bottom: 50px;
    margin: auto;
}

.author:last-child{
    margin-bottom: 0;
    margin: auto;
}

@media (max-width: 1000px){

	.quote{
		font-size: 20px;
    margin: auto;
	}

	.author{
	    font-size: 16px;
      margin: auto;
	}

}

/*-------------
 	Footer
-------------*/

.footerLogin{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	color: #fff;
	background-color: #414a4f !important;
	padding: 60px 0;
}

.FooterUL ul{
	display: flex;
	margin-bottom: 25px;
	font-size: 32px;

}

.FooterUL img {
    transition: .2s;
    height: 25px;
    border-radius: 50%;
}

.FooterUL img:hover {
    opacity: 0.8;
}

ul, nav {
  display: inherit;
}

.FooterUL li{
	margin: 0 8px;
}

.FooterUL li:first-child{
	margin-left: 0;
}

.FooterUL ul li:last-child{
	margin-right: 0;
}

.footerLogin p{
	font-size: 14px;
	color: rgba(255,255,255,0.6);
}

.footerLogin p a{
	color: #fff;
}

.copyrightLogin {
  font-size: 2px;
}

@media (max-width: 700px){

	.footerLogin{
		padding: 80px 15px;
	}

}

.Glyphicon-Login {
  font-size: 30px;
  color: green;
}
