/*-------------
 Written by Thayanan Tharmapalan
Main styling for the Sub Chapter Panel
-------------*/

.panel-title {
    text-align: left;
    color: #337ab7;
}

.subChapterPanel{
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
