.panel-default .panel-heading:hover{
      background-color: #3cb979;
      color: white !important;
}

.panel-default .panel-heading a:hover{
      color: white !important;
}

.panel-default .panel-heading:active {
      background-color: #3cb979;
            color: white;
}

.panel-default .panel-heading:focus{
      background-color: #3cb979;
      color: white;
}

.panel-title {
    text-align: left;
    color: #337ab7;
}
