@font-face {
     font-family: "Webly Sleek";
      src: url(../../fonts/weblysleekuil.ttf) format("truetype");
}

.closeBtn {
	float: left;
	background-color: #bc2c12;
	border-color: #bc2c12;
	color: white;
}
.closeBtn:hover {
	background-color: #891804;
	border-color: #891804;
	opacity: 0.8;
	color: white;
}
.acceptToolbar {
	float: right;
}
.acceptBtn {
	background-color: #329a64;
	border-color: #329a64;

	color: white;
}
.acceptBtn:hover {
	background-color: #329a64;
	border-color: #329a64;
	color: white;
	opacity: 0.8;
}

span {
	font-family: "Webly Sleek";
}

p {
	font-family: "Webly Sleek";
	}

.VimeoLater {
	font-family: "Webly Sleek";
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: smokewhite;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #519d9b;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='text'] {
	width: 300px;
}
textarea {
	margin-left: 2px;
	width: 550px;
	height: 60px;
}

.Description {
	text-align: left;
}
