/*-------------
 Written by Thayanan Tharmapalan
Main styling for the Ban User widget
-------------*/

.picktext {
	display: inline-block;
	margin-right: 10px;
}
.datepicker {
	display: inline-block;
}
