.shareRow {
    text-align: right;
}
.shareBtn {
  display: inline-block;
  border-radius: 4px;
  background-color: blue;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 15px;
  width: 130px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.shareBtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.shareBtn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.shareBtn:hover span {
  padding-right: 25px;
}

.shareBtn:hover span:after {
  opacity: 1;
  right: 0;
}
.rowParent {
    width: 100%;
}
.subGrid {
    width: 100%;
}