@font-face {
     font-family: "Webly Sleek";
     src: url(../../fonts/weblysleekuil.ttf) format("truetype");
 }

.col-md-8 {
  padding-bottom: 2px;
}

.commentRow Row {
  border-color: 2px solid red;
}

.col-md-4 {
  margin-bottom: 8px;
}

.btn-danger {
  margin-left: 6px;
  border-radius: 100%;
  background-color: #519d9b !important;
  border-color: #519d9b !important;;
  color: white;
}

.btn-danger:hover {
  color: #ca3733;
}

.upvoteBtn {
  border-radius: 50%;
  background-color: ##519d9b !important;
  border-color: #519d9b;
  width: 35px;
  height: 35px;
  font-family: "Webly Sleek";
}

.votenumber {
  margin-left: 10px;
}

.downvoteBtn {
  border-radius: 50%;
  background-color: #519d9b !important;
  border-color: #519d9b;
  width: 35px;
  height: 35px;
  font-family: "Webly Sleek";
}


.shareRow {
    text-align: right;
}
.shareBtn {
  display: inline-block;
  border-radius: 4px;
  background-color: #519d9b;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 5px;
  width: 88px;
  height: 35px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  margin-left: 900px;
  font-family: "Webly Sleek";
}

.shareBtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.1s;
}

.shareBtn:hover span {
  padding-right: 5px;
}
.rowParent {
    width: 100%;
}
.subGrid {
    width: 100%;
}
.subCol {
    text-align: left;
}

.recommended {
  font-family: "Webly Sleek";
  font-size: 15px;
}

.btn-danger:hover, .btn-danger:focus,
.btn-danger:active:hover, .btn-danger:active:focus, {
    background-color: white !important;
    border-color: white !important;
    border-style: none !important;
}
