@font-face {
     font-family: "Webly Sleek";
     src: url(../../fonts/weblysleekuil.ttf) format("truetype");
 }

.col-md-8 {
  padding-bottom: 2px;
}

.col-md-4 {
  margin-bottom: 8px;
  padding-left: 1px;
}

.col-sm-3 {
  border: 1.5px solid #f2f2f2;
    border-right-color: #d2dfdf;
}
.videoPanelBtn {
  display: inline-block;
  border-radius: 4px;
  border: none;
  color: #519d9b;
  text-align: center;
  font-size: 20px;
  padding: 5px;
  width: 88px;
  height: 40px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  float:left;
  font-family: "Webly Sleek";
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
}
.videoPanelBtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.1s;
}
.discussPanelBtn {
  display: inline-block;
  border-radius: 4px;
  border: none;
  color: #519d9b;
  text-align: center;
  font-size: 20px;
  padding: 5px;
  width: 140px;
  height: 40px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  float:left;
  font-family: "Webly Sleek";
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
}
.discussPanelBtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.1s;
}
.shareBtn {
  display: inline-block;
  border-radius: 4px;
  background-color: #519d9b;
  border: none;
  color: #519d9b;
  text-align: center;
  font-size: 20px;
  padding: 5px;
  width: 88px;
  height: 40px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  float:right;
  font-family: "Webly Sleek";
  background-color: #eaeaea;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(white));
  background-image: -webkit-linear-gradient(top, white, #f2f2f2);
  background-image: -moz-linear-gradient(top, white, #f2f2f2);
  background-image: -ms-linear-gradient(top, white, #f2f2f2);
  background-image: -o-linear-gradient(top, white, #f2f2f2);
  background-image: linear-gradient(top, white, #f2f2f2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
}

.shareBtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.1s;
}

.shareBtn:hover span {
  padding-right: 5px;
}
.rowParent {
    width: 100%;
}
.subGrid {
    width: 100%;
}
.subCol {
    text-align: left;
}

.recommended {
  font-family: "Webly Sleek";
  font-size: 17px;
  color: #11aa51;
  font-weight: 900;
  text-align: center;
  padding-top: 8px;
}

 .btnStar_Recommended {
   float: right;
   border-radius: 50%;
   color: #f5e11d;
   font-size: 18px;
   width: 40px;
   height: 40px;
   background-color: #eaeaea;
   background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(white));
   background-image: -webkit-linear-gradient(top, white, #f2f2f2);
   background-image: -moz-linear-gradient(top, white, #f2f2f2);
   background-image: -ms-linear-gradient(top, white, #f2f2f2);
   background-image: -o-linear-gradient(top, white, #f2f2f2);
   background-image: linear-gradient(top, white, #f2f2f2);
   -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
   -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
   box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
 }

  .btnStar_Recommended:hover {
    color: white;
  }

 .btnStar_Recommend {
   float: right;
   border-radius: 50%;
   font-size: 18px;
   width: 40px;
   height: 40px;
   background-color: #eaeaea;
   background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(white));
   background-image: -webkit-linear-gradient(top, white, #f2f2f2);
   background-image: -moz-linear-gradient(top, white, #f2f2f2);
   background-image: -ms-linear-gradient(top, white, #f2f2f2);
   background-image: -o-linear-gradient(top, white, #f2f2f2);
   background-image: linear-gradient(top, white, #f2f2f2);
   -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
   -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
   box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
    color: #519d9b;
 }

 .ModerateButton {
   background-color: #eaeaea;
   background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(white));
   background-image: -webkit-linear-gradient(top, white, #f2f2f2);
   background-image: -moz-linear-gradient(top, white, #f2f2f2);
   background-image: -ms-linear-gradient(top, white, #f2f2f2);
   background-image: -o-linear-gradient(top, white, #f2f2f2);
   background-image: linear-gradient(top, white, #f2f2f2);
   -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
   -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
   box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
   font-family: "Webly Sleek";
   padding: 8.5px;
   color: #519d9b;
}
 .ModerateButton:active {
	top: 1px;
  background-color: #eaeaea;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(white));
  background-image: -webkit-linear-gradient(top, white, #f2f2f2);
  background-image: -moz-linear-gradient(top, white, #f2f2f2);
  background-image: -ms-linear-gradient(top, white, #f2f2f2);
  background-image: -o-linear-gradient(top, white, #f2f2f2);
  background-image: linear-gradient(top, white, #f2f2f2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
  color: #519d9b;
}

.super-colors li:hover {
  opacity: 0.8;
}

.contentRow {

  border-bottom-color: #f2f2f2;
  padding-top: 10px;
}

.commentDescription {
  padding-top: 25px;
}

.comment {
  text-align: center;
  padding: 2px;
  margin-bottom: 10px;
  margin-right: 10px;
    padding-top:10px;
    font-size: 16px;
}

.commentsWidget {
  border: 2px solid white;
  border-left-color: #f2f2f2;
  width: 345px;
  height: 300px;
  font-family: "Webly Sleek";
    float: right;
    padding: 10px;
}

.publishedImage {
  border-radius: 50%;
  box-shadow: 0px 8px 10px 0px grey, inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px white;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;

}

.publishedInfo {
  padding-bottom: 10px;
  margin-top: 20px;
}
