.upvoteBtn {
    border-style: none;
    background-color: #2ea1dd;
}

element.style {
  background-color: black;
}

.downvoteBtn {
    border-style: none;
}

.upvoteBtn:hover {
    opacity: 0.45;
    transition: .185s;
    color: #6495ed;
}

.downvoteBtn:hover {
    opacity: 0.45;
    transition: .185s;
    color: #6495ed;
}
.votenumber {
	font-family: "Arial Rounded MT";
}
