@font-face {
     font-family: "Webly Sleek";
     src: url(../../fonts/weblysleekuil.ttf) format("truetype");
 }

.upvoteBtn {
    border-style: none;
    background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
    background-image: linear-gradient(top, #f4f1ee, #fff);
    border-radius: 50%;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
    color: black;
}

.downvoteBtn {
    border-style: none;
    background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
    background-image: linear-gradient(top, #f4f1ee, #fff);
    border-radius: 50%;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}

.upvoteBtn:hover {
    opacity: 0.45;
    transition: .185s;
  }

.downvoteBtn:hover {
    opacity: 0.45;
    transition: .185s;

}
.votenumber {
	font-family: "Webly Sleek";
  font-size: 25px;
}

.upvoteBtn {
  border-radius: 50%;
  width: 38px;
  height: 38px;
  font-family: "Webly Sleek";
}

.votenumber {
  margin-left: 10px;
  float: left;
}

.downvoteBtn {
  border-radius: 50%;
  width: 38px;
  height: 38px;
  font-family: "Webly Sleek";
}

.col-md-1 {
  width: 12.5%;
}
