.youtube-wrapper {
	width: 100%;
}
.ulul {
	list-style: none;
}
.youtube {
	display: inline;
	width: 50%;
	border-style: solid;
	padding: 50px;
}
.upWrap {
	display: inline;
	width: 30%;
	border-style: solid;
	padding: 50px;
}