/*-------------
 Written by Thayanan Tharmapalan
Main styling for the Admin page
-------------*/

/*-------------
 	Imports the fonts
-------------*/

@font-face {
     font-family: "Noteworthy";
     src: url(../fonts/Noteworthy-Light.ttf) format("truetype");
 }

 @font-face {
     font-family: "Webly Sleek";
     src: url(../fonts/weblysleekuil.ttf) format("truetype");
 }

 /*-------------
 Page title
 -------------*/

 .adminTitle {
   color: #0eaa90;
    font-family: "Webly Sleek";
    font-size: 25px;
 }

 /*-------------
 Page animations
 -------------*/
 .adminTitle {
   -webkit-animation-name: fadeIn;
   animation-name: fadeIn;
 }

.addDeleteCourseWidgets {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

/*-------------
General
-------------*/
.has-feedback .form-control {
  margin: auto;
  border-color: #cce8fe;
}

 ::-webkit-input-placeholder {
  font-family: "Webly Sleek";
}

.addACourseTitle {
  font-family: "Webly Sleek";
  font-size: 26px;
  padding-top: 35px;
  padding-bottom: 10px;
}
.submitCourse {
  margin-bottom: 8px;
}
.addCourseControllLabel{
    font-family: "Webly Sleek";
}

.has-success .form-control-feedback {
  color: #28cf2b;
}

/*TheWidget */

 .AddCoursewidget
 {
   position: relative;
   width: 350px;
   height: auto;
   margin: 50px auto;
   background: #FFF;
   border-radius: 5px;
   box-shadow: 0 5px 25px rgba(0, 0, 0, .1);
 }

 .AddCoursewidget > .addCoursecover
 {
   height: 85px;
   overflow: hidden;
 }

 .AddCoursewidget > .addCoursecover > img
 {
   width: 100%;
   height: auto;
   min-height: 160px;
   border-radius: 4px 4px 0 0;
 }

 .AddCoursewidget > .addCoursephoto
 {
   position: absolute;
   top: 45px;
   left: 55%;
   width: 80px;
   height: 80px;
   margin: 0 0 0 -55px;
   border: 5px solid #d1ffe7;
   border-radius: 50%;
 }

 .deleteCoursewidget > .deleteCoursephoto
 {
   position: absolute;
   top: 5px;
   left: 50%;
   width: 100px;
   height: 100px;
   margin: 0 0 0 -55px;
   border: 5px solid #ff5e5e;
   border-radius: 50%;
 }


 .AddCoursewidget > .ProfileName, .AddCoursewidget > .ProfileDetails, .AddCoursewidget > .ProfileDetails
 {
   display: block;
   margin: 10px 0;
   text-align: center;
   font-family: 'Open Sans', sans-serif;
   font-size: 16px;
   font-weight: 300;
   color: #999;
 }

 .AddCoursewidget > .ProfileName
 {
   margin: 60px 0 20px;
   font-size: 26px;
   color: #000;
 }

 .AddCoursewidget > .ProfileDetails { font-size: 12px }

 .AddCoursewidget > .addCourseProfileUL {
   position: absolute;
   top: 20px;
   left: 100%;
   background: #2CDFD3;
   border-radius: 0 10px 10px 0;
 }

 .AddCoursewidget > .addCourseProfileUL > .addCourseProfileULLI{
   color: white;
   display: block;
   margin: 5px -35px 0;
 }

 .AddCoursewidget > .addCourseProfileUL > .addCourseProfileULLI .Userglyph{
   float: left;
   padding: 2px;
   padding-right: 40px;
   padding-bottom: 5px;
 }

.DeleteCourses {
  font-family: "Webly Sleek";
  padding-top: 20px;
  font-size: 26px;
}

.table {
  font-family: "Webly Sleek";
}

.deleteCoursewidget
{
  position: relative;
  width: 350px;
  height: auto;
  margin: 50px auto;
  background: #FFF;
  border-radius: 5px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, .1);
}

.deleteCoursewidget > .deleteCoursecover
{
  height: 85px;
  overflow: hidden;
}

.deleteCoursewidget > .deleteCoursecover > img
{
  width: 100%;
  height: auto;
  min-height: 160px;
  border-radius: 4px 4px 0 0;
}


.deleteCoursewidget > .deleteCoursephoto
{
  position: absolute;
  top: 45px;
  left: 55%;
  width: 80px;
  height: 80px;
  margin: 0 0 0 -55px;
  border: 5px solid #fabcbc;
  border-radius: 50%;
}


.deleteCoursewidget > .ProfileName, .deleteCoursewidget > .ProfileDetails, .deleteCoursewidget > .ProfileDetails
{
  display: block;
  margin: 10px 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #999;
}

.deleteCoursewidget > .ProfileName
{
  margin: 60px 0 20px;
  font-size: 26px;
  color: #000;
}

.deleteCoursewidget > .ProfileDetails { font-size: 12px }

.deleteCoursewidget > .deleteCourseProfileUL {
  position: absolute;
  top: 20px;
  left: 100%;
  background: #2CDFD3;
  border-radius: 0 10px 10px 0;
}

.deleteCoursewidget > .deleteCourseProfileUL > .deleteCourseProfileULLI{
  color: white;
  display: block;
  margin: 5px -35px 0;
}

.deleteCoursewidget > .deleteCourseProfileUL > .deleteCourseProfileULLI .Userglyph{
  float: left;
  padding: 2px;
  padding-right: 40px;
  padding-bottom: 5px;
}

.submitCourse{
  font-size: 12px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
text-align: center;
  background-color: white;
   background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(white));
   background-image: -webkit-linear-gradient(to bottom, white, white);
   background-image: -moz-linear-gradient(to bottom, white, white);
   background-image: -ms-linear-gradient(to bottom, white, white);
   background-image: -o-linear-gradient(to bottom, white, white);
   background-image: linear-gradient(to bottom, white, white);
   -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
   -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
   box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
}

.submitCourseGlyph{
  color: green;
}
