@font-face {
    font-family: "Webly Sleek";
    src: url(../fonts/weblysleekuil.ttf) format("truetype");
}

.footer-distributed{
	background-color: #3c3c3c;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;
	padding: 45px 50px;
	margin-top: 180px;
  bottom: 0;
  position: static;
right: 0;
left: 0;
padding: 1rem;
height: 200px;
}

.footer-distributed .footer-left p{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

/* Footer links */

.footer-distributed p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-left: 3px;
  border-radius: 50%
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}
}

.footer-distributed p.footer-links a {
  padding: 5px;
    padding-left: 30px;
  opacity: 0.8;
  list-style-type: none;
  font-family: "Webly Sleek";
  font-size: 15px;
  color: white;
}

.footer-distributed p.footer-links a:hover{
  color: green;
}

.footer-right a:hover{
    color: green;
}

.copyright {
  text-align: center;
}

.footer-wrap{
  margin-top: 78px;
}
