/*-------------
 Written by Thayanan Tharmapalan
Main styling for the CourseList widget
-------------*/

/*-------------
 	Imports the fonts
-------------*/


@font-face {
     font-family: "Webly Sleek";
      src: url(../fonts/weblysleekuil.ttf) format("truetype");
}


.EditCoursesTitle {
  padding: 5px;
    font-size: 26px;
      font-family: "Webly Sleek";
        padding-top: 20px;
        padding-bottom: 15px;
    }

.removeCourseButton {
  float: right;
  border-radius: 50%;
  font-size: 12px;
  width: 35px;
  height: 35px;
text-align: center;
  background-color: #eaeaea;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(white));
  background-image: -webkit-linear-gradient(top, white, white);
  background-image: -moz-linear-gradient(top, white, white);
  background-image: -ms-linear-gradient(top, white, white);
  background-image: -o-linear-gradient(top, white, white);
  background-image: linear-gradient(top, white, white);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
}

.CourseRemove {
  color: #da3636;
}

.subchapterName {
  margin: auto;
  text-align: center;
}

.CourseTable {
  width: 320px;
    text-align: center;
    margin: auto;
}

tr th {
  text-align: center;
  padding: 6px;
  padding-left: 4px;
  padding-right: 4px;
}

tr  {
  border: 0.125px solid white;
  border-bottom-color: #f2f2f2;
}
