@font-face {
     font-family: "Webly Sleek";
      src: url(../fonts/weblysleekuil.ttf) format("truetype");
}

.ProfileTitle {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.ProfileTitle {
  color: #0eaa90;
   font-family: "Webly Sleek";
   font-size: 25px;
}
