/*-------------
 Written by Thayanan Tharmapalan
Some styling for the Profile page
-------------*/

/*-------------
 	Imports the fonts
-------------*/

@font-face {
     font-family: "Webly Sleek";
      src: url(../fonts/weblysleekuil.ttf) format("truetype");
}

/*-------------
 	Profile Page title
-------------*/

.ProfileTitle {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.ProfileTitle {
  color: #0eaa90;
   font-family: "Webly Sleek";
   font-size: 28px;
}
