@font-face {
     font-family: "GeosansLight";
     src: url(../fonts/GeosansLight.ttf) format("truetype");
 }

 @font-face {
      font-family: "Webly Sleek";
       src: url(../fonts/weblysleekuil.ttf) format("truetype");
 }

.ProfileRow{
    border-style: solid;
    margin-top: 50px;
    border-radius: 25px;
    border: 0.5px solid white;
    width: 420px;
    height: 350px;
    background-color: white;
    box-shadow: 3.8px 3.8px #e6e6e6;
    opacity: 0.98;
    margin: auto;
    text-align: center;
}

.col-md-6 {
text-align:center;
position:relative;
width: 300px;
margin-left: 50px;
}

.profileimg {
  width: 100px;
  margin-top: 8px;
  margin-bottom: 10px;
  padding: 5px;
}

.ProfileName {
  color: #329a64;
  font-family: "Webly Sleek";
  font-size: 26px;
  text-align: center;
}

.ProfileDetails {
    margin-top: 2px;
    font-family: "Webly Sleek";
    font-size: 18px;
    text-align: center;

}
.profileimg:hover {
-webkit-animation-name: spin;
    -webkit-animation-duration: 4000ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 4000ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 4000ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}