@font-face {
     font-family: "Webly Sleek";
      src: url(../fonts/weblysleekuil.ttf) format("truetype");
}


/* service section */

.aboutWorkflowSectionTitle {
  border-bottom: 2px solid #49b59d;
  display: inline-block;
text-align: center;
 padding-bottom: 30px;
  font-family: "Webly Sleek";
  padding-left: 2px;
  font-size: 24px;
  color: #425d58;
}

.aboutSectionTitle {
  border-bottom: 2px solid #58b0e8;
  display: inline-block;
text-align: center;
 padding-bottom: 30px;
  font-family: "Webly Sleek";
  padding-left: 2px;
  font-size: 24px;
  color: #425d58;
}

.aboutWeebo {
  font-size: 18px;
}

.service {
  padding-top: 100px;
  padding-bottom: 80px;
}

.aboutWorkflowIcons {
  border: 2px solid white;
  border-top: 2px solid #81d5a9;
  border-bottom: 3px solid #32c1a3;
  border-radius: 100%;
  font-size: 25px;
  color: #44bd7c;
  text-align: center;
  vertical-align: middle;
  margin-top: 50px;
  padding: 20px;
  width: 40px;
  height: 40px;
}

.aboutIcons {
  border: 2px solid white;
  border-top: 2px solid #69c7e8;
  border-bottom: 3px solid #5a77ae;
  border-radius: 100%;
  font-size: 25px;
  color: #35b3e6;
  text-align: center;
  vertical-align: middle;
  margin-top: 50px;
  padding: 20px;
  width: 40px;
  height: 40px;
}


.serviceTitle {
  font-family: "Webly Sleek";
  padding-top: 20px;
}

.col-md-12{
  margin-bottom: 100px;
}
.aboutSectionHr {
  width: 250px;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
width: 80%;
color: #f00;
background-color: #dee1e1;
height: 1px;
}

.container  {
  background-color: white;}

.col-md-12{
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
}
.col-md-4{
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
}

.serviceTitle {
    animation-name: fadeIn;
    -webkit-animation-name: fadeIn;
}

.aboutSectionHr{
  animation-name: bounceInUp;
  -webkit-animation-name: bounceInUp;
}

.aboutAppImage {
  height: 280px;
  margin: auto;
}
