@font-face {
     font-family: "Webly Sleek";
      src: url(../fonts/weblysleekuil.ttf) format("truetype");
}

.AboutTeamWeebo {line-height: 160%;
      color: black !important;
}

.teamImage {
  border: 0;
}

.TeamRoles {
    color: white;
}

.firstname {
    color: black;
}

.clear {clear: both;}

.TeamContainer {
    background-color: #f2f2f2;
}

.MainTeamBox {
  width: auto;
}

.speakers {
	padding: 60px 0;
	background-color: #f2f2f2;
	text-align: center;
}

.AboutTeamWeebo {
	padding: 20px 0 60px;
	color: rgba(255,255,255, 0.85);
	font-family: "Webly Sleek";
	font-size: 16px;
	letter-spacing: 0.2px;
}

.speakers h3 {
	padding: 0 0 15px;
	font-family: "Webly Sleek";
	font-size: 36px;
	text-transform: uppercase;
}

.speakers .wholeName  {
	margin-top: -20px;
	font-size: 32px;
	font-weight: 700;
  	font-family: "Webly Sleek";
}

.speakers .wholeName .firstname {
	display: block;
	position: relative;
	left: -40px;
	top: 10px;
	font-size: 20px;
	background: none;
	padding: 0;
}

.speakers img {
	border-radius: 50%;
	border: 5px solid white;
	box-shadow: 2px 2px 0px rgba(0,0,0, 0.18);
	transition: all 0.1s ease-in;
  height: 160px;
  width: 160px;
}

.speakers img:hover {
	border: 10px solid #3980C9;
	position: relative;
	z-index: 10;
	transition: all 0.1s ease-in;
opacity: 0.8;
}

.TeamRoles{
	padding: 8px 20px;
	position: relative;
	top: -24px;
	left: -80px;
	display: inline-block;
	background-color: #45e3d0;
	border-radius: 0 16px 16px 0;
	font-size: 15px;
  font-family: "Webly Sleek";
}

/* Member Image Hover Effect */
.hover_img {
  display: none
}

.member-profile{
  text-decoration: none !important;
    padding: 2px;
}

.member-profile:hover .unhover_img{
  display: none;
}

.member-profile:hover .hover_img {
  display: block;
}

/* Social Networks Meta */
.speakers li {display: inline-block; padding: 0 6px; font-size: 18px;}

/* Rows Optimization */
.row2 {
	display: none;
}

.MainTeamBox .TeamRow, .row2 .TeamRow {
	padding-bottom: 40px;
  max-width: 400px;
}

/* Mobile Devices Optimization */
@media (min-width: 568px) and (max-width: 992px) {

	.MainTeamBox .TeamRow, .row2 .TeamRow {
		display: inline-block;
		max-width: 25%;
	}

.teamImage{max-width: 600px;}
}

.MainTeamBox .TeamRow, .row2 .TeamRow {
  		display: inline-block;
}
.TeamRow {
position: relative;
min-height: 1px;
width: 25%;
}

.TeamRow {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

.AboutTeamWeebo{
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
